body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add styles here for now */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #3949ab;
  color: #ffffff;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  background: #00227b;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}





ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  border-radius: 25px;

}

/* Question List Styles */
.question-list {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-list-holder {
  width: 100%;
  border: 1px solid rgba(0,0,0,.29);
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-list-btn-holder {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0,0,0,.29);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.question-list-btn {
  width: 50%;
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.question-list-btn-left {
  border-top-left-radius: 25px;
}

.question-list-btn-right {
  border-top-right-radius: 25px;
}

.question-list-btn-selected {
  background-color : #3949ab;
  color: #ffffff;
}

.question-list-btn-not-selected {
  background: #ffffff;
  color: #000000;
}

/* question snippet styles */
.question-snippet {
  width: 600px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
}

.question-snippet-info {
  display: flex;
  justify-content: left;
}

.question-snippet-author {
  background-color : #1976d2;
  border: 1px solid rgba(0,0,0,.29);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 25px;
  color: #ffffff;

}

.question-snippet-picture-holder {
  width: 22%;
  float: left;
  border-right: 1px solid rgba(0,0,0,.29);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.question-snippet-details {
  display: inline-block;
  width: 75%;
  height: 125px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.question-snippet-btn {
  font-size: 17px;
  width: 80%;
  height: 30px;
  background-color : transparent;
  color: #3949ab;
  border-color: #3949ab;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

.question-snippet-btn:hover {
  border-color: rgba(0,34,123,.5);
  color: rgba(0,34,123,.5);
  text-decoration: none;
}

.question-snippet-btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.question-title-center {
  text-align: center;
}

.question-info {
  width: 80%;
}

.question-header {
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question-center-form {
  display: inline-block;
  width: 60%;
  margin-left: 50px;
}

.question-submit-btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.empty-bar {
  width: 200px;
  background-color: grey;
  border-radius: 25px;
  margin: 0px auto;
}

.progress-bar {
  height: 20px;
  background-color: #00227b;
  border-radius: 25px;
}

.progress-bar-text {
  color: #ffffff;
  text-align: center;
}

.question-answer-detail-container {
  float: left;
  width: 450px;
  padding-left: 10px;

}

.answer-block {
  border: 1px solid rgba(0,0,0,.29);
  width: 60%;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0,0,0,.05);
}

.answer-block-your-vote {
  border: 1px solid #3949ab;
  background-color: #63a4ff;
  color: #ffffff;
}

.answer-your-vote {
  float: right;
  background-color: #ba000d;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  margin-right: -20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* Login */

.login {
  width: 600px;
}

.user {
  width: 600px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
}

.user-info {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px;
}

.login-user-picture {
  margin-right: 20px;
  margin-top: 5px;
}

.user-info-name {
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.login-user-btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Leader Board */
.leader-list-holder {
  width: 100%;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-data-container {
  width: 60%;
}

.leader-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-data-text {
  width: 200px;
  padding: 10px 5px;
}

.leader-data-number {
  margin-left: 30px;
}

.leader-user-name {
  width: 100%;
  text-align: center;
  height: 50px;
}

.line {
  margin: 0px 20px;
}

.leader-data-holder {
  padding: 10px;
  margin-bottom: 20px;
}

.leader-score-container {
  width: 20%;
  height: 100%;
  border: 1px solid rgba(0,0,0,.29);
  border-top: none;
  margin: auto 30px;
  border-radius: 25px;
}

.score-text-holder {
  border: 1px solid rgba(0,0,0,.29);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0px;
  text-align: center;
  background-color: #63a4ff;
  color: #ffffff;
}

.score-header {
  padding: 0px;
  margin: 12px;
}

.score-number-holder {
  background-color: #3949ab;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 15px auto;
}

/* Create New Question */

.create-question {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-question-container {
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
  width: 100%;
}

.create-question-title {
  border: 1px solid rgba(0,0,0,.29);
  background-color: #3949ab;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #ffffff;
}

.create-question-subtitle {
  margin: 0px 20px;
  padding: 15px;
  text-align: center;
}

.create-question-rather-holder {
  margin: 0px 25px;
}


.create-question-input-holder {
  margin-right: 25px;
  padding: 0px 25px;
}

.create-question-input-text {
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
}

.create-question-input-text:focus {
  background-color: rgba(0,34,123,.5);
  color: #ffffff;
  border: 1px solid rgba(0,34,123,.1);
  border-radius: 10px;
}

.create-question-input-text:focus::placeholder {
  color: #ffffff;
}

.create-question-button-holder {
  text-align: center;
  margin: 40px 0px;
}

.line-holder {
  margin: 25px;
  text-align: center;
}

.line-left {
  float: left;
  width: 45%;
}

.line-right {
  float: right;
  width: 45%;
}

.line-or {
  font-size: 20px;
  margin: auto;
}

/*Navigation Bar*/

.active {
  font-weight: bold;
  font-style: italic;
}

.nav li {
  display: inline;
}

.nav li:first-child {
  padding-left: 50px;
}

.nav {
  width: 1000px;
  height: 50px;
}

.nav-item {
  color: #ffffff;
}

.nav-right {
  float: right;
  margin-right: 5px;
}

.nav-left {
  float: left;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3949ab;
  height: 50px;
}

.logout-btn {
  cursor: pointer;
}

/* Page Not Found */

.not-found-container {
  width: 1000px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
  text-align: center;
}

.not-found-container h1 {
  background: #3949ab;
  color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0px;
  padding: 30px;
}

.not-found-container h2 {
  padding: 30px;
}

.not-found-container p {
  margin: 50px 0px;
  color: blue;
}
