body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add styles here for now */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #2196f3;
  font-size: 16px;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  background: #0069c0;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  border-radius: 25px;
  margin: 10px;
}

/* Question List Styles */
.question-list {
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-list-btn-holder {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,.29);
}

.question-list-btn {
  width: 50%;
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 25px;
}

.question-list-btn-left {
  border-right: 1px solid rgba(0,0,0,.29);
  background-color: rgba(0,0,0,0);
  border-top-left-radius: 25px;
}

.question-list-btn-right {
  border-left: 1px solid rgba(0,0,0,.29);
  background-color: rgba(0,0,0,0);
  border-top-right-radius: 25px;
}

.question-list-btn-selected {
  background-color : #3949ab;
  color: #ffffff;
}

.question-list-btn-not-selected {
  background: #ffffff;
  color: #000000;
}

/* question snippet styles */
.question-snippet {
  width: 600px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 25px;
}

.question-snippet-author {
  background-color : #1976d2;
  border: 1px solid rgba(0,0,0,.29);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 25px;
  color: #ffffff;

}

.question-snippet-picture-holder {
  width: 22%;
  float: left;
  border-right: 1px solid rgba(0,0,0,.29);
  margin-top: 10px;

}

.question-snippet-details {
  display: inline-block;
  width: 75%;
  height: 125px;
  text-align: center;
  margin-bottom: 20px;
}

.question-snippet-btn {
  font-size: 17px;
  width: 80%;
  height: 30px;
  background-color : transparent;
  color: #3949ab;
  border-color: #3949ab;
  border-style: solid;
  border-radius: 5px;
}

/* User */
.user {
  width: 50%;
  max-width: 250px;
  padding: 5px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.user-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
